fastapi
uvicorn[standard]
requests
httpx
curl_cffi
duckduckgo-search==6.3.7
trafilatura
pymongo[srv]
apscheduler
rapidfuzz
langchain
langchain-core
langchain-groq
numpy
scipy
scikit-learn
redis
websockets
typing_extensions
